<header class="navbar navbar-fixed-top navbar-responsive">
  <div class="navbar-inner">
    <div class="container">

      <%= render 'layouts/branding' %>
      <%= render 'layouts/nav_tools' %>
      <%= render 'layouts/user_menu' %>
    </div>
  </div>
</header>
