<ul class="nav pull-left">
	<li><%= link_to 'Browse', "#" %>
	<li><%= link_to 'New Post', "#" %>
	<li>
	<form class="navbar-search">
	  <input type="text" class="search-query" placeholder="Search Posts...">
	</form>
	</li>
</ul>